<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi!</title>
</head>
<body>
    <div class="text-center">
        <h1 style="margin-top: 50px; color: red">Đã Xảy Ra Lỗi!</h1>
        <br />
        <h3>Vui lòng liên hệ bộ phận kỹ thuật để được xử lý!</h3>
        <h4>Mã Lỗi: @ViewBag.Err</h4>
    </div>
</body>
</html>

