<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi!</title>
</head>
<body>
    <div class="text-center">
        <h1 style="margin-top: 50px; color: red">Đã Xảy Ra Lỗi!</h1>
        <h2>@ViewBag.Err</h2>
    </div>
</body>
</html>

