<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style="color: red">Error!</h1>
        <h2>Your item you have just requested does not match!</h2>
    </hgroup>
</body>
</html>
