@{
    ViewBag.Title = "Intro page";
}

<h1>Chào mừng bạn đã đến với kênh lùa gà top 1 vũ trụ</h1>
<p>
    Bấm vào nút sau để tới kênh <br />
    <a class="btn btn-success" href="https://github.com/dat911zz">Click me to show link!  &raquo;</a>
</p>
