<div id="confirmModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-warning" style="color: #000">
                <h5 class="modal-title" id="confirmModalTitle" style="color: #fff;">Hệ Thống</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: #000">
                <p>Bạn có chắc chắn muốn thực hiện hành động này chưa ?</p>
            </div>
            <div class="modal-footer">
                <button id="submitBtn" type="button" class="btn btn-primary" aria-label="Save">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
