@model StudentManagementWebApp.Models.Student

@{
    ViewBag.Title = "Result Details";
}

<h2 class="text-center" style="color: #384289;">Kết quả học tập</h2>
<div class="container">
    <div class="table-responsive">
    <table id="table-id" class="table table-bordered">
        @Html.Raw(ViewBag.ResultList)
    </table>
    </div>
</div>
<div class="container center-block margin-top-15">
    <p>
        @Html.ActionLink("Trở về trang trước", "Details", new { id = ViewBag.Id }, htmlAttributes: new { @class = "btn btn-primary" }) 
        @Html.ActionLink("Trở về danh sách sinh viên", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
</div>