@model StudentManagementWebApp.Models.Student
@{
    ViewBag.Title = "Cổng Nhập Điểm";
}

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-4 col-lg-3" style="border: 1px solid #8888">
            <form id="scoreUpdaterForm">
                <div class="w-100 p-2">
                    <h6 class="font-weight-bold mt-4">Môn học: </h6>
                    @Html.Raw(ViewBag.dropdownList)
                    <h6 class="font-weight-bold mt-4">Điểm quá trình: </h6>
                    <input id="dqt" class="w-100" type="number" min="0" max="10" value="0" />
                    <span id="errDqt" class="text-danger"></span>
                    <h6 class="font-weight-bold mt-4">Điểm thành phần: </h6>
                    <input id="dtp" class="w-100" type="number" min="0" max="10" value="0" />
                    <span id="errDtp" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <a class="btn btn-success w-75 mb-3" onclick="confirmScoreUpdate('@Model.Id')">Lưu</a>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="table-responsive">
                <table id="table-id" class="table table-bordered" style="vertical-align: middle !important">
                    @Html.Raw(ViewBag.ResultList)
                </table>
            </div>
        </div>
    </div>
    
</div>