
@{
    ViewBag.Title = "Cổng Vào Hệ Thống Quản Lý Điểm";
}
@using (Html.BeginForm("PreScoreUpdater", "Student", FormMethod.Post, htmlAttributes: new { @id = "Form" }))
{
    <div class="jumbotron text-center">
        <h2>Cổng Thông Quản Lý Điểm</h2>
    </div>
    <div class="search-form info-group mt-5">
        <div class="form-group row w-100">
            <div class="col-md-4 pb-2 pt-2" style="font-size: 20px">Vui Lòng Nhập Mã Sinh Viên: </div>
            <span class="col-md-8 pb-2 pt-2">
                <span>
                    <input type="text" name="id" id="" class="pl-3" style="height: 100%;" placeholder="Nhập mã sinh viên">
                    <input type="submit" value="Tiếp theo" class="btn btn-outline-primary" style=" height: 100%; margin-left: -1px; margin-top: -3px;" />
                </span>
                <div class="text-danger">@ViewBag.Error <span class="font-weight-bolder">@ViewBag.Id</span></div>

            </span>
        </div>
    </div>

}

