@using (Html.BeginForm("SearchForm", "Student", FormMethod.Post, htmlAttributes: new { @id = "Form" }))
{
<div class="search-form info-group mt-5">
    <div class="form-group row">
        <div class="col-6 w154" style="font-size: 20px">Mã sinh viên: </div>
        <span class="col-6 w154">
            <input type="text" name="" id="" placeholder="Nhập mã sinh viên">    
        </span> 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tiếp theo" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
}